.advertising {
    margin-top: -4px;
    background: #F8F200;
    padding: 70px 0px;
}
.advertising__left{
    width: 50%;
}

.advertising__block {
    display: flex;
    /* flex-wrap: wrap; */
}

.advertising__img__monitor {
    /* width: 624px;
    height: 430px; */
    height: 100%;
    width: 100%;
}

.hp {
    width: 80px;
    height: 80px;
    margin-left: 42px;
}

.logo {
    width: 320px;
    height: 79px;
    margin-left: 140px;
}

.advertising__img__logo {
    margin-top: 26px;
}

.advertising__right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 32px;
    /* width: 50%; */
}

.advertising__h__h3 {
    margin: 0px;
    max-width: 560px;
    color: #000;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advertising__p__text {
    max-width: 624px;
    height: 125px;
    flex-shrink: 0;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 0px;
    /* 188.889% */
}

.advertising__button__btn {
    display: inline-flex;
    padding: 15px 50px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #000;
}

.advertising__button__btn__text {
    color: #F8F200;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p__img {
    width: 32px;
    height: 32px;
    padding-right: 5px;
}

.advertising__ul__p {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.advertising__ul {
    padding-top: 25px;
}

@media(max-width: 1024px){
    .advertising__block{
        flex-direction: row;
    }
    .advertising__img__monitor {
        max-width: 460px;
        max-height: 317px;
    }
    .advertising__left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 16px;
    }
    .advertising__img__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hp{
        margin: 0px;
    }
    .logo{
        margin: 0px;
        padding-top: 69px;
    }
    .advertising__right{
        padding-left: 0px;
        width: 50%;
        max-width: 460px;
    }
    .advertising__h__h3{
        max-width: 460px;
    }
    .advertising__p__text{
        max-width: 460px;
        max-height: 192px;
    }
}
@media(max-width: 320px){
    .advertising__block{
        flex-direction: column;
    }
    .advertising__img__logo{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
  .advertising__left{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hp{
    width: 44px;
    height: 44px;
  }
  .logo{
    width: 175px;
    height: 44px;
    padding: 0px;
  }
   .advertising__h__h3{
        font-size: 30px;
        width: 296px;
        margin-top: 40px;
   }
   .advertising__p__text{
    font-size: 16px;
    height: 100%;
    margin-top: 20px;
   }
   .advertising__ul{
    margin-top: 27px;
   }
   .advertising__ul__p{
    font-size: 16px;
   }
}
