.buy__games {
    display: flex;
    flex-wrap: wrap;
}

    .buy__games__left{
    width: 50%;
}

.buy__games__right{
    width: 50%;
    padding: 70px 0px 70px 32px;
    background: #000;
}
/* .buy__games__right__container {
   
} */

.buy__games__right__h4 {
    width: 624px;
    margin: 0px;
    color: #FFF;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
}

.buy__games__right__complect {
    margin: 0px;
    color: #52BEDC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.complect__list__img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 5px;
}

.complect__list__p {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.games__platforma {
    margin-top: 70px;
    color: #52BEDC;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.platforms__container {
    margin-top: 25px;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
}

.xbox {
    margin-left: 79px;
}

.ps4 {
    margin-left: 80px;
    margin-top: 55.53px;
}

.stadia {
    margin-top: 47.81px;
}

@media ( max-width: 1024px){
    .buy__games__left{
        width: 33%;
    }
    .buy__games__right{
        width: 67%;
    }
    .buy__games__left{
        object-fit: cover;
        left: 0;
        top:  0;
    }
}

@media (max-width: 320px){
    .buy__games{
        flex-direction: column;
    }
    .buy__games__left{
        width: 320px;
        height: 198px;
    }
    .buy__games__right{
        width: 100%;
        padding: 0px;
    }
    .buy__games__right__h4{
        font-size: 30px;
        margin: 40px 12px 25px 12px;
    }
    .buy__games__right__complect{
        font-size: 20px;
        margin: 0px 121px 22px 12px;
    }
    .complect__list{
        margin-left: 12px; 
        margin-right: 12px;
        font-size: 16px;  
    }
    .games__platforma{
        font-size: 20px;
        margin: 40px 53px 25px 12px;
    }
    .left{
        margin: 0px 56px 70px 12px;
    }
    .right{
        margin: 0px 12px 77px 0px;
    }
    .xbox{
        margin: 0px;
        width: 178px;
        height: 35.188px;
    }
    .ps4{
        margin: 0px;
        width: 168.627px;
        height: 35.324px;
        margin-top: 49px;
    }

}

