.header{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    z-index: 50;
}
.container__header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
}
.soc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.soc__link:not(:last-child){
    margin-right: 42px;
}
.logo__header{
    min-width: 296px;
}
