.info {
   margin-top: 70px;
    
}

.info__h1 {
    color: #000;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info__span {
    color: #52BEDC;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    /* 188.889% */
}

.info__p {
    max-width: 952px;
    max-height: 125px;
    flex-shrink: 0;
    color: #777;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.info__img {
    margin-top: 70px;
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.info__img__left {
    display: flex;
    flex-direction: column;
}

.info__img__left__one {
    max-width: 460px;
    max-height: 196px;
    flex-shrink: 0;
    margin-bottom: 32px;
}

.info__img__left__two {
    min-width: 460px;
    max-height: 196px;
}

.info__img__right {
    padding-left: 32px;
    max-width: 788px;
    max-height: 424px;
}
