/* .info__game{
    display: flex;
} */
/* .img__background{
    position: relative;
} */
.infogames{
    background-image: url(../../img/Header/yelloy__backgroun.svg);
    background-repeat: no-repeat;
    padding: 70px 70px 70px 70px;
}

.infogames{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -373px;
    margin-left: 43%;
    align-items: start;
    position: absolute;
}
.span__platforms {
    margin: 0px;
    max-width: 484px;
    color: #000;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn{
    margin-top: 25px ;
    background: #000;
    color: #F8F200;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    display: inline-flex;
    padding: 19px 50px;
    align-items: center;
    gap: 10px;
}

@media(max-width: 1024px){
    .infogames{
        margin-left:calc(328 / 1024 *100%)
    }
   }

