.promo {
    margin-top: -3px;
    background:#000;
    padding: 70px;
}

.promo__img {
    width: 132px;
    height: 132px;
    flex-shrink: 0;
}

.promo__h2 {
    padding-top: 50px;
    padding-left: 32px;
    color: #FFF;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo__div {
    display: flex;
   flex-wrap: wrap;
}
.img__promo{
    position: absolute;
}


.promo__div__p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 132px;
    transform: rotate(-45deg);
    color: #F8F200;
    font-family: Archangelsk;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo__text__p {
   max-width: 952px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 188.889% */
}

.promo__text__span {
    color: #52BEDC;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.promo__data {
    /* padding-top: 90px; */
    display: flex;
    flex-wrap: wrap;
}

.promo__form__group{
    margin-top: 98px;
}

.promo__input {
    width: 460px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: transparent;
    outline: none !important;
    border: none;
    border-bottom: 1px solid;
    padding-bottom: 13px;
    margin-bottom: 35px;
}

.drag__drop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #777;
    width: 460px;
    height: 120px;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.drag__drop__p {
    padding: 0px;
    margin: 0px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}

.drag__drop__format {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.promo__prize__btn {
    margin-top: 35px;
    margin-bottom: 15px;
    display: inline-flex;
    padding: 15px 50px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #F8F200;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo__data label {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.checbox__promo{
        position: absolute;
        z-index: -1;
        opacity: 0;
}
.checbox__promo+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .checbox__promo+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border-color: #b3d7ff;
    border: 1px solid  #b3d7ff;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  } 
.checbox__promo:checked+label::before {
    border-color: rgba(119, 119, 119, 1);
    background-color: #000001;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='yellow' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
   /* стили для активного состояния чекбокса (при нажатии на него) */
   .checbox__promo:not(:disabled):active+label::before {
    background-color: #05e93a;
    border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .checbox__promo:disabled+label::before {
    background-color: black;
  } 

  .promo__prize{
    display: flex;
    margin-top: 50px;
  }

  .promo__xbox__img{
    position: relative;
    margin-left: 164px;
    max-width: 296px;
max-height: 351px;
  }

 .promo__xbox__fon{
    max-width: 460px;
    max-height: 456px;
margin-left: 32px;
position: absolute;
}

.promo__ps__img{
    position: relative;
    max-width: 296px;
max-height: 351px;
}

.promo__ps__fon{
    transform: scale(1, -1); 
    max-width: 460px;
    max-height: 456px;
margin-left: -130px;
position: absolute;
}

.prize__console{
    display: flex;
    position: absolute;
    /* padding-left: 476px; */
    padding-top: 70px;
}

.promo__ps5{
    padding-left: 32px;
}

@media(max-width: 1024px){
    .promo{
        display: flex;
        padding: 0px;
    }
    .promo__text{
       width: 50%;
    }
    .promo__prize{
        flex-direction: column;
    }
    .promo__promo{
        display: flex;
        margin: 15px 0px 70px 0px;
    }
    .promo__prize{
        margin-top: 120px;
      }
    
      .promo__xbox__img{
        position: relative;
        margin-left: 164px;
        max-width: 296px;
        max-height: 351px;
      }
    
     .promo__xbox__fon{
        max-width: 460px;
        max-height: 456px;
        margin-left: 32px;
        position: absolute;
    }
    
    .promo__ps__img{
        position: relative;
        max-width: 296px;
        max-height: 351px;
    }
    
    .promo__ps__fon{
        transform: scale(1, -1); 
        max-width: 460px;
        max-height: 456px;
        margin-left: -164px;
        position: absolute;
    }
    
    .prize__console{
        display: flex;
        position: absolute;
        /* padding-left: 476px; */
        padding-top: 70px;
    }
    
    .promo__ps5{
        padding-left: 164px;
        margin-top: 50px;
    }
    .promo__h2 {
        padding-top: 15px;
        padding-left: 0px;
        color: #FFF;
        font-family: Archangelsk;
        font-size: 62px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    
}

