html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.visual-container{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container{
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
@font-face {
    font-family: Archangelsk;
    src: url(./Archangelsk.ttf); /* Для IE5-8 */
    src: local(Archangelsk), url(./Archangelsk.ttf); /* Для остальных браузеров */
   }

